<footer>
    {% include './reinier-promo.njk' %}
    <h2>Gratis abonneren</h2>
    {% include 'subscribe.njk' %}
    <hr>
    <p>
        📝
        <a href="https://github.com/reinier/fyi/blob/main/{{ page.inputPath }}">Bewerk deze pagina op GitHub</a>, dit is ook de beste plek voor het geven van een suggestie of het oplossen van een bug.
    </p>
</footer>
