<footer>
    <h2>Gratis abonneren</h2>
    {% include 'subscribe.njk' %}
    <p>FYI wordt gemaakt door
        <a href="https://reinierladan.nl">Reinier Ladan</a>. Je vind me op
        <a href="https://carelesswhisper.nl/@reinier" rel="me">Mastodon</a>,
        <a href="https://github.com/reinier" rel="me">Github</a>
        en
        <a href="https://www.goodreads.com/user/show/22724505-reinier-ladan">Goodreads</a>.
    </p>
    <p>
        📝
        <a href="https://github.com/reinier/fyi/blob/main/{{ page.inputPath }}">Bewerk deze pagina op GitHub</a>, dit is ook de beste plek voor het geven van een suggestie of het oplossen van een bug.
    </p>
</footer>
