<footer>
    <h2>Gratis abonneren</h2>
    {% include 'subscribe.njk' %}
    <p>FYI wordt gemaakt door
        <a href="https://reinierladan.nl">Reinier Ladan</a>. Heb je een suggestie voor deze site of heb je een bug gevonden? De broncode is openbaar (<a href="https://github.com/reinier/fyi">github.com/reinier/fyi</a>), dus schiet een issue of pull request in!
    </p>
</footer>
