<head>
    <meta charset="utf-8"/>
    <title>{{ title or metadata.title }}</title>
    <meta name="generator" content="Eleventy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ description or metadata.description }}"/>
    <meta name="fediverse:creator" content="@reinier@carelesswhisper.nl">
    <link rel="preload" href="/fonts/ShipsWhistle-Rough.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/ShipsWhistle-BoldRough.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ '/site.css' | url }}"/>
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="FYI Nieuwsbrief en blog"/>
    <link rel="alternate" type="application/rss+xml" href="/feed-blog.xml" title="FYI Blog"/>
    <link rel="alternate" type="application/rss+xml" href="/feed-newsletter.xml" title="FYI Nieuwsbrief"/>
    <link rel="alternate" type="application/rss+xml" href="/feed-recipes.xml" title="FYI Recepten"/>
    <link rel="icon" href="/favicon.ico" sizes="any"/>
    <link rel="icon" href="/icon.svg" type="image/svg+xml"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/manifest.webmanifest"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}"/>
    {% if description %}
        <meta property="og:description" content="{{ description }}"/>
    {% endif %}
    {% include './head-components/social-image.njk' %}
    <!-- Structured data -->
    {% if recipe %}
        <!-- Recipe data -->
        <script type="application/ld+json">
            {% include './head-components/recipe-sd.njk' %}
        </script>
    {% endif %}
    <!-- End structured data -->
</head>
