<div class="site-intro">
    <p>Heb je behoefte aan een
        <strong>freelance product owner of product designer</strong>, dan moeten we eens praten! Op <a href="https://reinierladan.nl">reinierladan.nl</a> vertel ik je alles over mijn professionele diensten.
    </p>
</div>
