<div class="site-intro">
    <p>Heb je behoefte aan een
        <strong>freelance product owner of product designer</strong>, dan moeten we eens praten! <a href="https://kirkandblackbeard.com">Kirk & Blackbeard gidsen je door de zwaarste stormen</a>.
    </p>
</div>
