<div class="abonneren">
<p>Je e-mailadres is voldoende om je gratis op de FYI nieuwsbrief te abonneren. Al meer dan 1.200 abonnees!</p>
<form method="post" action="https://nieuwsbrief.reinier.fyi/subscription/form" class="abonneren">
    <div>
        <input type="hidden" name="nonce" />
              
          <input id="93035" type="hidden" name="l" value="93035f33-0422-45d6-85c5-7a49f25039a2" />
        <p><input type="email" name="email" class="abonneren-email" required placeholder="E-mail" /><input type="submit" value="Abonneer" class="abonneren-submit" /></p>
    </div>
</form>
</div>
