<div class="abonneren">
<p>Je e-mailadres is voldoende om je gratis op de FYI nieuwsbrief te abonneren. Al meer dan 1.200 abonnees.</p>
<ul class="sub-link">
	<li>📧 <a href="https://reinier.substack.com/about">Schrijf je gratis in op de FYI nieuwsbrief.</a></li>
	<li>🐘 <a href="https://carelesswhisper.nl/@reinier">Volg me op Mastodon @reinier</a>
    <li>👾 <a href="/feed.xml">Abonneer je op de RSS feed</a></li>
</ul>
