---
layout: layouts/home.njk
title: FYI Blog
eleventyExcludeFromCollections: true
pagination:
  data: collections.blogposts
  size: 20
  alias: postslist
---

{% for post in postslist -%}
    {%- if post.data.href -%}
        <article class="in-list type-link">
            <h2 class="link-title">
                <span class="hostname">{{ post.data.href | urlHostname }} &bull; {{ post.date | readablePostDate }}</span>
                <a href="{{ post.data.href }}" class="goto-link">{{ post.data.title }}</a>
                <a href="{{ post.url }}" class="permalink">🔗</a>
            </h2>
            <div>{{ post.templateContent | safe }}</div>
        </article>
    {% else -%}
        <article class="in-list type-article">
            <h2>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h2>
            <p class="post-date">{{ post.date | readablePostDate }} &nbsp;&nbsp;&nbsp;&nbsp;✍️
                <a href="https://reinierladan.nl">Reinier Ladan</a>
            </p>
            {% if post.data.image %}
                <p><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}"/></p>
            {% endif %}
            <div>{{ post.templateContent | safe }}</div>
        </article>
    {% endif -%}
{%- endfor -%}
<ol class="pagination">
    {%- for pageEntry in pagination.pages %}
        <li>
            <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a>
        </li>
    {%- endfor %}
</ol>
