@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Public Sans webfont";
		src: url("/fonts/PublicSans-Regular.woff2") format("woff2"),
			url("/fonts/PublicSans-Regular.woff") format("woff"),
			url("/fonts/PublicSans-Regular.ttf") format("truetype");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Public Sans webfont";
		src: url("/fonts/PublicSans-Bold.woff2") format("woff2"),
			url("/fonts/PublicSans-Bold.woff") format("woff"),
			url("/fonts/PublicSans-Bold.ttf") format("truetype");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Public Sans webfont";
		src: url("/fonts/PublicSans-ExtraBold.woff2") format("woff2"),
			url("/fonts/PublicSans-ExtraBold.woff") format("woff"),
			url("/fonts/PublicSans-ExtraBold.ttf") format("truetype");
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Public Sans webfont";
		src: url("/fonts/PublicSans-Italic.woff2") format("woff2"),
			url("/fonts/PublicSans-Italic.woff") format("woff"),
			url("/fonts/PublicSans-Italic.ttf") format("truetype");
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	body {
		@apply font-publicsans;

		text-rendering: optimizeLegibility;
		font-variant-ligatures: common-ligatures;
		-webkit-font-variant-ligatures: common-ligatures;
		-webkit-font-feature-settings: "kern";
		font-feature-settings: "kern";
		font-kerning: normal;
	}

	p {
		@apply mb-4;
	}

	header {
		@apply mb-8;
	}

	main,
	footer {
		@apply container mx-auto px-8 max-w-2xl;
	}

	main p,
	main ul {
		@apply text-xl;
	}

	main ul {
		@apply ml-8 list-disc pb-4;
	}

	main ul li {
		@apply mb-2;
	}

	main p > img {
		@apply my-8;
	}

	footer {
		@apply border-t-4 mt-8 pt-8;
	}

	a {
		text-decoration: underline;
		color: #0a3922;
	}

	h1,
	h3 {
		@apply font-bold;
	}

	h1 {
		@apply text-5xl mb-4 pt-4 font-black;
		text-align: center;
		color: transparent;
		background: conic-gradient(
			#0d6239 12%,
			#0d6239 12%,
			#0a3922 33%,
			#0d6239 33%,
			#0a3922 55%,
			#0d6239 55%,
			#0d6239 70%,
			#0a3922 70%,
			#00b789 87%,
			#0d6239 87%
		);
		background-size: 50%;
		background-clip: text;
	}

	.site-logo {
		@apply text-4xl mb-4 pt-4;
		text-align: center;

		a {
			color: #fff;
			font-weight: 900;
		}

		img {
			@apply mx-auto;
		}
	}

	h2 {
		@apply text-3xl mt-8 mb-3 font-black;
	}

	h3 {
		@apply text-2xl mb-6 font-bold;
	}

	strong {
		@apply font-extrabold;
	}

	blockquote {
		@apply pl-8;
		color: #333332;
		border-left: 4px solid #999;
		font-style: italic;
	}

	article.in-list {
		@apply my-16;
	}

	article.in-list h2 a {
		@apply no-underline;
		color: transparent;
		background: conic-gradient(
			#0d6239 12%,
			#0d6239 12%,
			#0a3922 33%,
			#0d6239 33%,
			#0a3922 55%,
			#0d6239 55%,
			#0d6239 70%,
			#0a3922 70%,
			#00b789 87%,
			#0d6239 87%
		);
		background-size: 50%;
		background-clip: text;
	}

	article.single h1 {
		@apply mb-12 pt-8;
	}
}

@layer components {
	/* NAV COMPONENT */

	header {
		background-color: #0a3922;
	}

	.nav-Menu {
		@apply flex flex-row gap-4 lg:gap-12 pb-4;
		justify-content: center;

		a {
			color: #fff;
			@apply underline lg:no-underline transform-none lg:uppercase text-lg lg:text-2xl;
		}

		.rl-nav-item {
			@apply list-none font-bold block;
		}

		.rl-active a {
			color: #83eae0;
		}
	}

	/* END NAV COMPONENT */

	.img-content-rounded {
		@apply flex flex-wrap justify-center pb-8;
	}

	.img-content-rounded img {
		@apply object-cover w-64 shadow-lg object-center rounded-full;
	}

	.img-content {
		@apply flex flex-wrap justify-center m-4 mt-8;

		img {
			@apply object-cover w-2/3 shadow-lg object-center;
		}

		p {
			@apply text-sm mt-3;
		}
	}

	.img-content-group {
		margin: 1em calc(50% - 50vw);
		text-align: center;

		img {
			@apply w-72 shadow-lg;
			display: inline-block;
		}
	}

	.abonneren {
		@apply lg:bg-slate-200 lg:p-4;
	}

	.abonneren .abonneren-submit {
		@apply bg-fyi-dark-green hover:bg-black hover:cursor-pointer text-white font-bold py-2 px-4 rounded;
	}

	form.abonneren input.abonneren-email {
		@apply shadow appearance-none border rounded w-full mb-4 py-2 px-3 text-gray-700 text-xl leading-tight focus:outline-none;
	}
}

@layer utilities {
	.break-out {
		margin: 1em calc(50% - 50vw);

		> img,
		> a > img {
			@apply mx-auto;
		}
	}

	.gradient-text {
		color: transparent;
		background: conic-gradient(
			#0d6239 12%,
			#0d6239 12%,
			#0a3922 33%,
			#0d6239 33%,
			#0a3922 55%,
			#0d6239 55%,
			#0d6239 70%,
			#0a3922 70%,
			#00b789 87%,
			#0d6239 87%
		);
		background-size: 50%;
		background-clip: text;
	}
}
