<!doctype html>
<html lang="nl">
    {% include '../head.njk' %}
    {% include '../header.njk' %}
    <body>
        <main>
            {{ content | safe }}
        </main>
        <!-- Current page: {{ page.url | url }} -->
        {% include '../footer.njk' %}
    </body>
</html>
