<!doctype html>
<html lang="nl">
    {% include '../head.njk' %}
    <body>
        {% include '../header.njk' %}
        <main>
            <article class="single type-link">
                <h1 class="link-title">
                    <span class="hostname">{{ href | urlHostname }} &bull; {{ page.date | readablePostDate }}</span>
                    <a href="{{ href }}" class="goto-link">{{ title }}</a>
                </h1>
                {{ content | safe }}
            </article>
            {% include '../webmentions.njk' %}
        </main>
        <!-- Current page: {{ page.url | url }} -->
        {% include '../footer.njk' %}
    </body>
</html>
