<!doctype html>
<html lang="nl">
    {% include '../head.njk' %}
    <body>
        {% include '../header.njk' %}
        <main>
            <div class="site-intro">
                <p>
                    <strong>Hi, Reinier hier</strong>, FYI is mijn blog over
                    <a href="/over/">van alles en nog wat</a>. Wil je wekelijks de berichten als email ontvangen? Schrijf je dan gratis in op de
                    <a href="/nieuwsbrief/">FYI Nieuwsbrief</a>.</p>
                <p>En heb je behoefte aan een
                    <strong>freelance product owner of een ux designer</strong>, dan moeten we eens praten! Lees meer over mijn freelance werkzaamheden op
                    <a href="https://reinierladan.nl/">reinierladan.nl</a>
                </p>
            </div>
            <article class="single type-article">
                <h1>{{ title }}</h1>
                <p class="post-date">
                    {{ page.date | readablePostDate }} &nbsp;&nbsp;&nbsp;&nbsp;✍️
                    <a href="https://reinierladan.nl">Reinier Ladan</a>
                </p>
                {{ content | safe }}
                {% if tags %}
                    <section class="tags">
                        <p>Meer over:
                            {% for tag in tags -%}
                                <a class="tag" href="/onderwerp/{{ tag }}">{{ tag }}</a>
                            {%- endfor %}
                        </p>
                    </section>
                {% endif %}
                {% include '../webmentions.njk' %}
            </article>
        </main>
        <!-- Current page: {{ page.url | url }} -->
        {% include '../footer.njk' %}
    </body>
</html>
