{% if socialImage %}
    <meta property="og:image" content="{{ metadata.url }}{{ socialImage }}"/>
{% elseif posttype == 'blogpost' %}
    <meta property="og:image" content="/images/social-preview-images/post-{{ page.date | postDate }}-{{ title | slug }}-preview.jpeg"/>
{% elseif socialPreview %}
    <meta property="og:image" content="/images/social-preview-images/{{ page.date | postDate }}-{{ title | slug }}-preview.jpeg"/>
{% elseif image %}
    <meta property="og:image" content="{{ metadata.url }}{{ image }}"/>
{% else %}
    <meta property="og:image" content="{{ metadata.url }}/images/fyi-social.jpg"/>
{% endif %}
