---
layout: layouts/base.njk
title: FYI Nieuwsbrief
eleventyExcludeFromCollections: true
pagination:
  data: collections.newsletters
  size: 30
  alias: newsletters
---

    <p>FYI
        <em>(For Your Information)</em>
        is een wekelijkse nieuwsbrief over van alles dat
        <a href="https://reinierladan.nl">Reinier Ladan</a>
        tegenkomt op het Grote Boze Internet. Van handige apptips, langs voedzame recepten tot nieuwe wetenschappelijke inzichten.</p>
    <p>De nieuwsbrief bevat de meest recente berichten van mijn blog en een handvol extra nieuwsbrief-only linkjes.</p>




