backend:
  name: git-gateway
  branch: main
media_folder: "src/images"
public_folder: "/images"
local_backend: true
collections:
  - label: "Recepten"
    name: "recepten"
    folder: "src/blog/recepten"
    slug: "{{slug}}"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Webmentions url", name: "webmentions", widget: "string" }
      - { label: "Description", name: "description", widget: "string", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - label: "Featured Image"
        name: "image"
        widget: "image"
        choose_url: true
        default: "/images/fyi-social.jpg"
      - { label: "Image Description", name: "imageAlt", widget: "string" }
      - { label: "Time to prepare (in minutes)", name: "prepTime", widget: "string", required: false }
      - { label: "Time to cook (in minutes)", name: "cookTime", widget: "string", required: false }
      - { label: "Total time (in minutes)", name: "totalTime", widget: "string", required: false }
      - { label: "Body", name: "body", widget: "markdown" }
      - label: "Tags"
        name: "tags"
        widget: "list"
        summary: '{{fields.name}}'
        field: {label: Name, name: name, widget: string}
  - label: "Algemeen"
    name: "algemeen"
    folder: "src/blog/algemeen"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Webmentions url", name: "webmentions", widget: "string" }
      - { label: "Description", name: "description", widget: "string", required: false }
      - { label: "Social image text", name: "socialPreview", widget: "string", required: false }
      - { label: "Social image", name: "socialImage", widget: "image", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - label: "Tags"
        name: "tags"
        widget: "list"
        summary: '{{fields.name}}'
        field: {label: Name, name: name, widget: string}
  - label: "App tips"
    name: "apptips"
    folder: "src/blog/apptips"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Webmentions url", name: "webmentions", widget: "string" }
      - { label: "Description", name: "description", widget: "string", required: false }
      - { label: "Social image text", name: "socialPreview", widget: "string", required: false }
      - { label: "Social image", name: "socialImage", widget: "image", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - label: "Tags"
        name: "tags"
        widget: "list"
        summary: '{{fields.name}}'
        field: {label: Name, name: name, widget: string}
  - label: "Gezondheid"
    name: "gezondheid"
    folder: "src/blog/gezondheid"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Webmentions url", name: "webmentions", widget: "string" }
      - { label: "Description", name: "description", widget: "string", required: false }
      - { label: "Social image text", name: "socialPreview", widget: "string", required: false }
      - { label: "Social image", name: "socialImage", widget: "image", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - label: "Tags"
        name: "tags"
        widget: "list"
        summary: '{{fields.name}}'
        field: {label: Name, name: name, widget: string}
  - label: "Links"
    name: "links"
    folder: "src/blog/links"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Webmentions url", name: "webmentions", widget: "string" }
      - { label: "Link to", name: "href", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Media"
    name: "media"
    folder: "src/blog/media"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Webmentions url", name: "webmentions", widget: "string" }
      - { label: "Description", name: "description", widget: "string", required: false }
      - { label: "Social image text", name: "socialPreview", widget: "string", required: false }
      - { label: "Social image", name: "socialImage", widget: "image", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - label: "Tags"
        name: "tags"
        widget: "list"
        summary: '{{fields.name}}'
        field: {label: Name, name: name, widget: string}
  - label: "Productiviteit"
    name: "productiviteit"
    folder: "src/blog/productiviteit"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Webmentions url", name: "webmentions", widget: "string" }
      - { label: "Description", name: "description", widget: "string", required: false }
      - { label: "Social image text", name: "socialPreview", widget: "string", required: false }
      - { label: "Social image", name: "socialImage", widget: "image", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - label: "Tags"
        name: "tags"
        widget: "list"
        summary: '{{fields.name}}'
        field: {label: Name, name: name, widget: string}
  - label: "Samenleving"
    name: "samenleving"
    folder: "src/blog/samenleving"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Webmentions url", name: "webmentions", widget: "string" }
      - { label: "Description", name: "description", widget: "string", required: false }
      - { label: "Social image text", name: "socialPreview", widget: "string", required: false }
      - { label: "Social image", name: "socialImage", widget: "image", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - label: "Tags"
        name: "tags"
        widget: "list"
        summary: '{{fields.name}}'
        field: {label: Name, name: name, widget: string}
  - label: "Technologie"
    name: "tech"
    folder: "src/blog/tech"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Webmentions url", name: "webmentions", widget: "string" }
      - { label: "Description", name: "description", widget: "string", required: false }
      - { label: "Social image text", name: "socialPreview", widget: "string", required: false }
      - { label: "Social image", name: "socialImage", widget: "image", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - label: "Tags"
        name: "tags"
        widget: "list"
        summary: '{{fields.name}}'
        field: {label: Name, name: name, widget: string}
  - label: "Newsletters"
    name: "nieuwsbrief"
    label_singular: "Newsletter"
    folder: "src/nieuwsbrief/edities"
    path: "{{year}}/{{slug}}"
    slug: "{{month}}-{{day}}-{{slug}}"
    create: true
    editor:
      preview: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Webmentions url", name: "webmentions", widget: "string" }
      - { label: "Social image text", name: "socialPreview", widget: "string", required: false }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
