---
permalink: /feed.xml
eleventyExcludeFromCollections : true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ feeddata.url }}">
    <title>{{ feeddata.title }}</title>
    <subtitle>{{ feeddata.subtitle }}</subtitle>
    <link href="{{ permalink | absoluteUrl(feeddata.url) }}" rel="self"/>
    <link href="{{ feeddata.url }}"/>
    <updated>{{ collections.bericht | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ feeddata.url }}</id>
    <author>
        <name>{{ feeddata.author.name }}</name>
        <email>{{ feeddata.author.email }}</email>
    </author>
    {%- for post in collections.blogposts | limit(10) %}
        {%- set absolutePostUrl = post.url | absoluteUrl(feeddata.url) %}
        <entry>
            <title>{{ post.data.title }}</title>
            <link href="{{ absolutePostUrl }}"/>
            <updated>{{ post.date | dateToRfc3339 }}</updated>
            <id>{{ absolutePostUrl }}</id>
            <content xml:lang="{{ feeddata.language }}" type="html">
                {{ post.content | htmlToAbsoluteUrls(absolutePostUrl) }}
            </content>
        </entry>
    {%- endfor %}
</feed>
