---
layout: layouts/home.njk
title: FYI • Blog en Nieuwsbrief
eleventyExcludeFromCollections: true
---


    <p>
        <strong>Hi, <a href="https://reinierladan.nl">Reinier</a> hier</strong>, FYI is mijn blog over
        <a href="/over/">van alles en nog wat</a>, maar ik deel vooral <a href="/onderwerp/recepten">recepten</a>, <a href="/onderwerp/productiviteit">productiviteits zaken</a> en dingen die spelen binnen de <a href="/onderwerp/samenleving">samenleving</a> en <a href="/onderwerp/technologie">technologie</a>. Wil je wekelijks de berichten als email ontvangen? Schrijf je dan gratis in op de
        <a href="/nieuwsbrief/">FYI Nieuwsbrief</a>.
    </p>


<h2>Blog</h2>
<p>Dit zijn de drie meest recente blog posts</p>
{% set latest_posts = collections.blogposts %}
<ul class="blog-list">
{% for post in latest_posts.slice(0,3) %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            <em>{{ post.date | readablePostDate }}</em>
        </li>
{% endfor %}
</ul>
<p>Bekijk het hele <a href="/blog">blogarchief</a>.</p>


<h2>FYI Nieuwsbrief</h2>
<p>Dit zijn de drie meest recente nieuwsbrieven.</p>
{% set latest_posts = collections.newsletters %}
<ul class="newsletter-list">
{% for post in latest_posts.slice(0,3) %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            <em>{{ post.data.date | readablePostDate }}</em>
        </li>
        <!-- <a href="{{ post.url }}"><img width="190" alt="Nieuwsbrief cover met title {{ post.data.title }}" src="/images/social-preview-images/cover-{{ post.data.date | postDate }}-{{ post.data.title | slugify }}-preview.jpeg" /></a> -->
{% endfor %}
</ul>
<p>Bekijk het hele <a href="/nieuwsbrief">nieuwsbriefarchief</a>.</p>
