---
layout: layouts/empty.njk
title: MTG Kaarten
eleventyExcludeFromCollections: true
pagination:
  data: collections.mtgimages
  size: 100
  alias: afbeeldingen
---

<p>Dit zijn mijn Magic The Gathering kaarten die ik heb verzameld tussen 1995 en 1998. Het gaat om het volgende:</p>
<ul>
    <li>Diverse losse kaarten in doos, vier lagen diep (losse-kaarten.jpeg)</li>
    <li>Diverse losse kaarten in map (kaarten-map-1.jpeg t/m kaarten-map-15.jpeg)</li>
    <li>Zes complete sets: Fourth Edition, Ice Age, Mirage, Weatherlight, Visions, Alliances. Eerste bladzijde uit map van elke set getoond. (complete-set-*.jpeg)</li>
</ul>
{% for image in afbeeldingen -%}
    <div class="mtg-img-thumb">
        <a href="{{ image.path }}"><img src="{{ image.thumbpath }}"/>
        </a>
        <p>{{ image.title }}</p>
    </div>
</a>{%- endfor -%}
