---
pagination:
  data: collections.blogposts
  size: 1
  alias: preview
permalink: "/images/social-preview-images/post-{{ preview.date | postDate }}-{{ preview.data.title | slug }}-preview.svg"
eleventyExcludeFromCollections: true
---

<svg width="1200" height="630" viewBox="0 0 1200 630" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <style>
            @font-face {
                font-family: "Ships Whistle";
                src: url("/fonts/ShipsWhistle-Rough.woff") format("woff");
                font-weight: normal;
                font-style: normal;
            }
        </style>
    </defs>
    <rect width="1200" height="630" fill="white"/>
    <rect x="43.5" y="29.5" width="1112" height="571" fill="#C01C74" stroke="#3A579A" stroke-width="7" stroke-dasharray="40 20"/>
        <text font-family="Ships Whistle, sans-serif" font-size="60" fill="#ffffff">
        {% if preview.data.socialPreview %}
            {% set titleInLines = preview.data.socialPreview | splitlinespost %}
        {% else %}
            {% set titleInLines = preview.data.title | splitlinespost %}
        {% endif %}
        {% set numberOfLines = titleInLines.length %}
        {% for line in titleInLines %}
            <tspan x="130" y="{{ 150 + loop.index0 * 70 }}">{{ line }}</tspan>
        {% endfor %}
    </text>
</svg>
