---
layout: layouts/tag.njk
title: FYI Onderwerpen
eleventyExcludeFromCollections: true
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /onderwerp/{{ tag }}/
---

{% set taglist = collections[ tag ] %}

<h1>{{ tag | capitalizeFirstLetter }}</h1>

{% if tag == "recepten" %}

<div class="site-intro">
        <p>
            Ik probeer zoveel mogelijk van mijn favoriete recepten hier te delen. Ze zijn vegan of vega, en vaak met een tip om 'm van vega naar vegan te veranderen. Voeg <a href="/feed-recipes.xml">de FYI Recepten feed</a> to aan je favoriete recepten-app!</p>
    </div>
<ol class="recepten-list">
    
    {% for post in taglist | reverse %}
        <li class="recept-cta">
            <a href="{{ post.url }}">{% picture post.data.image, post.data.imageAlt %}{{ post.data.title }}</a>
        </li>
    {% endfor %}
</ol>

{% else %}

<ol class="tag-list">
    {% for post in taglist | reverse %}
        <li>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            &bull;
            <em>{{ post.date | readablePostDate }}</em>
        </li>
    {% endfor %}
</ol>


{% endif %}


