---
layout: layouts/home.njk
title: /use
eleventyExcludeFromCollections: true
---

<h2>/use</h2>
<p><em>work in progress</em></p>
<p>Dit is mijn /use</code> pagina waarop ik bij hou wat voor een tools ik zoal gebruik.</p>

<h3>Software</h3>

<h4>Design</h4>

<ul>
	<li>Figma</li>
	<li>Framer</li>
</ul>

<h4>Knowledge &amp; task management</h4>

<ul>
	<li>Obsidian</li>
	<li>Things</li>
</ul>

<h4>Schrijven</h4>

<ul>
	<li>Ulysses</li>
	<li>Drafts</li>
</ul>

<h4>Boekhouden</h4>

<ul>
    <li><a href="https://www.moneybird.nl/aanmelden?referrer=8b33695b83">Moneybird</a></li>
</ul>


